[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
lxml = "*"
xgboost = "*"
matplotlib = "*"
numpy = "*"
sklearn = "*"
requests = "*"
bs4 = "*"
jpholiday = "*"

[requires]
python_version = "3.7"
